@import url(https://fonts.googleapis.com/css?family=Muli:300);

/* *******************
   Color Variables
******************* */

$wwuBlue: #003f87;
$wwuLtblue: #007ac8;
$wwuRed: #cc2d30;
$wwuYellow: #ffc61e;
$wwuLime: #bad80a;
$wwuGreen: #006b3f;
$wwuLightestGreen: #d6e86c;
$wwuRed80: #D65759;
$wwuLtblue60: #66b5e6;
$wwuLtblue40: #99cdef;
$wwuLtblue20: #cce6f7;

$wwuGrayBlue: #4B689C;
//Vetted for accessibility via contrast
$wwuOceanBlue: #0070b6;

$ltGrey: #e3e7e9;
$dkGrey: #333333;
$wwu-black: #111;

$muli: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;

/* *******************
   Other Variables
******************* */
$vertical-spacing: 3em;

/* *******************
    Mixins
******************* */

@mixin hide-text-bg-img {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin multi-line-flow-link {
  line-height:1.25; margin-top:.33em; padding-bottom:.17em;
}

@mixin bar-arrow {
  content:'';
  display:block;
  position:relative;
  right:-17.275em;
  top:-2.25em;
  border-top: 1.3em solid transparent;
  border-left: .5em solid $wwuLtblue;
  border-bottom: 1.3em solid transparent;
}

// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  12; // was 5
$zen-gutter-width:  30px; // was 20px

//breakpoints
$display-small: 320px;
$display-medium: 600px;
$display-large: 801px;
$display-xlarge: 1000px;
$display-xxlarge: 1664px;

//shadows for SBDC
@mixin button-shadow() {
  //box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, .5);
  //-webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, .5);
  //-moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, .5);
}
@mixin reg-shadow() {
  //text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}
