/**
* @file
* The menu that sits on top of each page
*
*/

@import "compass/utilities/general/clearfix";
@import "compass/typography/text/replacement";

/**
* Screen size: Mobile device
*/

@media all {
  .front main {
    display: block;
    margin: 0px;
    padding: 0px;
    border: none;
    line-height: 1.5;
  }
  .front .page {
    width: 100%;
    max-width: 100%;
  }
  .center-content {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
  .header-row {
    padding-top: 20px;
  }
  .front .western-header .western-logo a {
    display: block;
    float: none;
    margin-bottom: 0;
  }
  .splash-container {
    width: 100%;
  }
  .splash-fluid-wrapper {
    position: relative;
    height: 40vh;
    min-height: 200px;
    max-height: 400px;
    z-index: -1;
  }
  .front .splash-fluid-wrapper {
    max-height: none;
  }
  .splash-fluid-wrapper-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .front .main-nav {
    padding: 0;
  }

  .front .featured-testimonials-flexslider {
    background-color: $wwuLtblue;

    .flexslider {
      border: none;
      box-shadow: none;

      .slides {
        background-color: $wwuLtblue;

        li {
          background-color: inherit;
        }
      }
    }

    .view-featured-testimonials {
      max-width: 480px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 150px;

      &::before {
        content: url('../images/TestimonialQuote.svg');
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -100px;
      }

      .field-name-field-testimonial {
        text-align: center;
        background-color: $wwuLtblue;
        color: #FFF;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 2em;
      }

      .views-field-field-photo {
        background-color: $wwuLtblue60;
        padding: 1em;
        img {
          width: inherit;
        }
      }

      .views-field-field-endorser-s-name-and-title {
        padding-bottom: 1em;
        background-color: $wwuLtblue60;

        h3 {
          text-align: center;
          margin: 0;
          margin-left: 10px;
          margin-right: 10px;
          padding-top: 1em;
          padding-bottom: 1em;

          a {
            color: #000;
          }
        }
      }
    }
  }
}

/* Header text styling */
.header-image{
  position: relative;
  .field-item{
    display: block;
    position: absolute;
    color: white;
    line-height: 1.2em;
    left: 40px;
    width: 64%;
    top: 176px;
    font-size: 1em;
    text-shadow: 1px 1px black;
    word-wrap: break-word;
    text-align: center;
    padding: 5px;
    background-color: #86848482;
    z-index: 1;
  }
}

@media all and (min-width: $display-small) {
  .splash-container{
    display: none;
    .header-image{
      .field-item{
        display: none;
      }
    }
  }
}

@media all and (max-width: $display-small) {
  .splash-container{
    display: none;
    .header-image{
      .field-item{
        display: none;
      }
    }
  }
}

@media all and (min-width: $display-medium) {
  .splash-container{
    display: block;
    .header-image{
      .field-item{
        display: block;
        top: 100px;
        padding: 4px;
      }
    }
  }
}

@media all and (min-width: $display-large) {
  .front .western-header {
    width: 100%;
    background: rgba(255,255,255,0.8);
    border-bottom: 6px solid #0083D6;
  }
  .front .western-header .center-content {
    height: auto;
  }
  .front .western-header nav {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
    margin-top: 0;
  }
  .front .western-header .western-quick-links,
  .front .western-header .western-search {
    display: inline-block;
  }
  .front .main-nav {
    position: relative;
    top:31px;
    z-index: 1;
    min-width: 800px;
    max-width: 60vw;
    margin: 0 auto;
    min-height: 71px;
    float: none;
  }
  // Styles for the nav menu when it is fixed to the top of the viewport
  .front .region-navigation.fixed-menu-active {
    position: fixed;
    z-index: 1;
    max-width: 1080px;
    width: 100%;
    top: 0;
    margin: 0 auto;
  }
  .frontpage-panel-wrapper > div {
    max-width: 1080px;
    margin: 0 auto;
  }
  .page .center-content {
    max-width: 1080px;
  }

  .splash-container{
    display: block;
    .header-image{
      .field-item{
        display: block;
        top: 160px;
        padding: 4px;
      }
    }
  }
} //end media large-display

@media all and (min-width: $display-xlarge) {
  .front .view-featured-testimonials .field-name-field-testimonial {
    position: relative;
    width: 200%;
    left: -50%;
  }

  /* Header text styling for pages other than the homepage */
  .splash-container{
    display: block;
    .header-image{
      .field-item{
        display: block;
        top: 190px;
        font-size: 1.5em;
      }
    }
  }
}

@media all and (min-width: 1190px) {
  /* Header text scaling for the HOMEPAGE */
  .site-banner{
    .header-image{
      .field-item{
        top: 260px;
        font-size: 1.5em;
      }
    }
  }
}

@media all and (min-width: $display-xxlarge) {
  /* Header text scaling for the HOMEPAGE */
  .site-banner{
    .header-image{
      .field-item{
        top: 360px;
        left: 60px;
        font-size: 2em;
      }
    }
  }
}
