/**** PANEL CUSTOM STYLES ****/
//Panel's CSS classes in drupal must match those defined here
//They can be updated in Home >> Administration >> Structure >> Pages >> Variants >> Panel >> Content
// (or just click Settings Cog > Edit Panel)
//Then click on settings cog for the highlight section, and 'CSS Properties'


/* Sections with white backgrounds */
.standard-highlight {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}
.standard-highlight h2 {
  margin-top: 0;
  text-align: left;
  color: white;
}
.standard-highlight .field-item h2 {
  text-align: left;
  color: white;
  max-width: 1080px;
  margin: 10px auto;
}
.standard-highlight .field-item p {
  margin: auto;
}

/* ​Start or Grow Your Business ... */
.panel-display {
  background-color: white;
}
.front .panel-pane {
  padding-top: 20px;
  padding-bottom: 0;
  h2 {
    color: #707070;
  }
}
.pane-1{
  font-size: 2em;
  color: #707070;
  line-height: 1;
  font-weight: normal;
}


/* A history of helping ... */
.standard-highlight:nth-of-type(2) {
  padding-top: 50px;
  padding-bottom: 40px;
  background-image: url('../images/coffeeshop_scaled.jpg');

  a {
    color: white;

    &:hover, &:focus, &:active {
      color: $wwuBlue;
      background: $ltGrey;
      outline-color: white;
      outline-offset: 2px;
    }
  }

  h2 {
    color: white;
  }
}

/* Discover how we help companies ... */
.standard-highlight:nth-of-type(3) {
  padding-top: 10px;

  .field-items{
    a {
      color: #707070;

      &:focus, &:hover {
        color: $wwu-black;
      }
    }
  }
}


/* Sound Good? */
.sound-good{
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  max-width: 1080px;
  margin: 10px auto;
  h2 {
    margin-top: 0;
  }
}


/* Small business knowledge.... */
.pane-2{
  background-color: $wwuLtblue;
  line-height: normal;

  a {
    color: white;

    &:hover, &:focus, &:active {
      color: $wwuLightestGreen;
      background: mix($wwu-black, $wwuLtblue, 20%);
    }
  }
  span {
    padding: 0;
    margin: 0;
    color: white;
  }
}


/* Quick Find: */
.quick-find{
  width: auto;
  text-align: left;
  max-width: 1080px;
  margin: 10px auto;
  padding-left: 10%;
  padding-right: 10%;

  .field-collection-container{
    display: none;
  }
  img{
    width: 50%;
  }
  p {
    color: #707070;
  }
  a {
    color: #707070;
  }

  ul {
    display: inline-flex;
    flex-wrap: wrap;
  }
}

.field-name-field-quick-find{
  li {
    display: block;
    padding: 20px;
    text-align: center;
    width: 33.33%;
    box-sizing: border-box;
    font-size: 1.5em;
  }
}


/* Economic Impacts */
.pane-3{
  background-image: url('../images/tech.jpg');
  color: white;
  width: auto;

  div {
    padding: 50px;
    padding-bottom: 20px;
  }
  table{
    margin-left: 10px;
    margin-right: 10px;
  }
  tbody{
    background-color: transparent;
  }
  td{
    background-color: transparent;
    border: none;
    padding-bottom: 0;
    padding-top: 0;
  }
  tr{
    padding-bottom: 0;
    padding-top: 0;
    background: transparent;
    border: none;
  }
}

/* Blog Archive, Blog Tags */

.pane-blog-posts-panel-pane-3, .pane-blog-post-taxonomy-terms {
  h2 {
    font-size: 1.3em;
  }
}

/* mobile styles */
@media screen and (max-width: 800px) {
  .page-title {
    padding: 0 !important;
  }

  .standard-highlight:nth-of-type(1) {
    background-color: black;
  }

  .info-right p, .info-right h2 {
    margin-left: calc(55% + 10px) !important;
  }

  .field-items{
    text-align: center;
  }

  .node-46{
    li{
      width: 33.33%;
    }
    img {
      max-width: 50%;
    }
  }
}

@media screen and (max-width: 600px) {

  main ul {
    margin-bottom: 1em;
    display: block;
  }

  .field-items{
    text-align: center;
  }

  .node-46{
    li{
      width: 50%;
    }
    img {
      max-width: 50%;
    }
  }

  /* Sound Good? Section */
  .standard-highlight:nth-of-type(4) .field-item p {
    flex: 1 0 100%;
  }
  .testimonial p {
    width: 80%;
  }
  .testimonial-photo .media-element {
    flex: 1 0 100%;
    max-width: 100%;
  }
  .testimonial-photo p {
    flex: 1 0 100%;
  }

  .field-name-field-call-to-action a {
    margin: 0 auto;
  }
}
