/**
* @file
* Customization for Admissions
*
*/

@import "base";
@import "compass";
@import "zen";
@import "front-page";

/*
* All screen sizes
*/

// Uncomment to display "America's SBDC Washington" Logo image on top of header
/*
.splash-fluid-wrapper:after {
content: '';
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 300px;
height: 180px;
background-image: url('../images/SBDC-Logo-Color.png');
background-repeat: no-repeat;
background-position: 50%;
}
*/

/**
************************         Screen size: Mobile device         **************
*/
@media all  {
  .node-type-profile {
    .field-name-field-photo {
      float: left;
      margin-right: 1em;
    }
  }

  .western-header {
    nav {
      z-index: 10;
    }
    .western-logo a {
      background-image: url('../images/wwuhorizlogo.svg');
    }
  }

  .western-logo {
    display: block;
    height: 60px;
  }

  body {
    background-color: #fff;

    a:hover {
      text-decoration: none;
    }
  }

  main {
    //background-color: $ltGrey;
    background-color: white;
  }

  main .page-title {
    display: none;
    border-bottom: 0;
    margin-bottom: 0;
  }

  main .pane-page-title {
    padding-bottom: 0;

    h1 {
      text-align: center;
      margin-top: 10%;
    }
  }

  .hidden-title {
    .pane-title {
      display: none;
    }
  }


  .panel-pane {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .front .panel-pane {
    padding-top: 30px;
  }

  .field-name-field-background {
    display: none;
  }

  .field-collection-container {
    border: none;
  }

  .field-collection-view {
    border: none;
  }


  .field-label {
    display: none;
  }

  .field-items {
    p {
      margin-bottom: $vertical-spacing - 1em;
    }
  }

  .field-name-field-author{
    .field-label {
      display: inline;
    }
    .field-items{
      display: inline;
      .field-item{
        display: inline;
      }
    }
  }

  .front .content {
    font-weight: 300;

    p {
      max-width: 1080px;
      margin: $vertical-spacing/3 auto;
    }

    h2 {
      font-size: 2em;
    }
  }

  //Hide action buttons on front page
  .front {
    .action-links-field-collection-add,
    .field-collection-view-links {
      display: none;
    }
  }

  //Staff Page
  .view-staff {
    p {
      font-size: 16px;
    }
    .views-field-field-preferred-name,
    .views-field-field-last-name {
      display: inline-block;
      font-size: 1.5em;
      color: $wwuBlue;
    }
    .field-name-field-your-photo img {
      float: left;
      padding: 10px 15px 5px 0;
    }
    .views-row:not(:last-child) {
      padding-bottom: 15px;
    }
  }
  /**
  ******************      Tab styles
  */

  .quicktabs-tabs.quicktabs-style-nostyle {
    padding: 0;
    border-bottom: 2px solid $wwuBlue;

    li {
      display: inline-block;
      padding: 0;
    }

    // inactive tabs
    a {
      display: inline-block;
      background-color: #BFD1E3;
      border-radius: 10px 10px 0 0;
      border: none;
      color: #5472a2;
      line-height: 1;
      padding: 0.75em;
    }

    a:hover, a:focus, a:active {
      text-decoration: none;
    }

    // active tab
    li.active a {
      background-color: #1f4383;
      color: white;
      background-clip: padding-box;
    }
  }

  .b7002e-wrapper {
    margin-top: 1em;
  }

  .view-blog-posts {
    .views-row:not(:last-child) {
      margin-bottom: 20px;
    }
  }
} // End @media all

// Views accordion links are ridiculous
html body .page .panel-pane .view .view-content .field-body a {
  color: $wwuLtblue;
  display: inline;
  padding-left: 0;
}
@media all and (min-width: $display-small) { //was 361px ...?
  .view-quick-facts-columns .view-content {
    @include column-count(1);
    @include column-gap(10px);
    @include column-span(all);
  }
}

/**
*********************         Screen size: Tablet       ****************
*/

@media all and (min-width: $display-medium) {
  /*
  span.site-name {
  display: none;
}
*/

#edit-search-keys {
  background-position: 100% -85%;
}
}

/**
**************          Screen size - Desktop        ***************
*/

@media all and (min-width: $display-large)  {
  // Use 12 grid columns for larger screens.
  $zen-column-count: 12;

  @import "main-menu";

  .wwu-75-percent-right-column.empty-sidebar {
    font-size:100%;
  }

  .field-name-field-icon-link {
    width: 75%;
    margin: 0 auto;

    li {
      margin: 0;
      list-style: none;
      display: inline-block;
      text-align: center;

      float: left;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      word-wrap: break-word;
      padding-left: 15px;
      padding-right: 15px;
    }

    li:nth-child(1) {
      margin-left: 0%;
      margin-right: -33.33333%;
    }

    li:nth-child(2) {
      margin-left: 33.33333%;
      margin-right: -66.66667%;
    }

    li:nth-child(3) {
      margin-left: 66.66667%;
      margin-right: -100%;
    }

    img {
      display: block;
      max-width: 200px;
      max-height: 200px;
      margin: 0 auto;
    }

    .field-name-field-title {
      font-size: 1.5em;
    }
  }

  // No blue border at the top of the page-break-inside:
  body {
    border-top:none;
  }

  section.content table {
    width: 100%;
  }

  .page {
    position: relative;
    overflow: hidden;
  }

  .bluebar {
    border-top: 6px solid $wwuLtblue;
    width:100%;
    height: 9px;
    position: absolute;
    top: 60px;
    z-index: 1;
  }

  header {
    position: relative;
  }

  header[role="banner"] {
    padding: 0;
  }

  header[role="banner"] > div {
    max-height: 100%;
    background-color: transparent;
    background-image: none;
    border:none;
    box-sizing:none;
    margin: 0;
  }

  .site-header {
    float:none;
    .site-banner{
      padding-bottom: 28%;
      position: relative;
    }
  }
  .site-banner {
    img {
      position: absolute;
      top: 0;
    }
  }
  .western-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    float: none;
    height: 60px;
    margin: 0;
    box-sizing: content-box;
    background: rgba(255,255,255,0.8);
    border-bottom: 6px solid #0083D6;
  }

  .western-header .western-logo {
    display: block;
    float: left;
    margin-left: 0px;
    margin-right: 10px;
  }

  .western-header .western-logo a {
    background-image: url('../images/wwu.png');
    position: static;
    display: block;
    margin: 0;
    padding: 0;
  }
  .western-header nav {
    position: absolute;
    display: inline-block;
    width: auto;
    top: 0;
    right: 0;
    margin-right: 10px;
  }

  .western-header .western-quick-links,
  .western-header .western-search {
    display: block;
    float: left;
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  .western-header .western-quick-links ul {
    margin-right: 1em;
  }

  .western-header .western-quick-links ul li a,
  .western-header .western-quick-links ul li a:before {
    line-height: 60px;
  }

  .western-header .western-search > button {
    top: unset;
    margin-top: 16px;
  }

  .western-header .western-search .western-search-widget {
    top: 100%;
  }
}

.footer-left {
  text-align: center;
  a {
    color:white;
  }
}

.footer-right {
  margin-top: -.5em;
}

/* media breakpoint to hide page title for large resolution sizes */
@media only screen and (min-width: 800px) {
  main .page-title {
    display: none;
    visibility: hidden;
  }

  .node-type-profile main .page-title {
    display: block;
    visibility: visible;
  }
}

/* custom site name display for desktop/mobile view */
.site-name {
  display: none;
}

.mobile-site-name {
  display: none;
  background-color: #0083d6;
  color: white;
  padding: 1px 1px 1px 20px;
  font-size: 1.4em;
  width: 100%;
}

.mobile-site-name p {
  margin-top: 1em !important;
  max-width: 70%;
}

@media screen and (max-width: 800px) {
  .mobile-site-name {
    display: inherit;
  }
}

.success-story-photo {
  float: left;
  margin-right: 1em;
}

/* Home Page Panels */
@import "panel-styles";
